RewriteEngine On

# ---------------------------------------------
# Partie générale (hors admin) — à garder
# Réécriture globale (ex: /connect → /login.php)
RewriteRule ^connect$ login.php [L]

# Réécriture pour la page formation
RewriteRule ^formation$ formation.php [L]

# Réécriture pour la page de complexion de profile
RewriteRule ^complet-profile$ complete_profile.php [L]

# Réécriture pour la page examens
RewriteRule ^examens$ examens.php [L]

# ---------------------------------------------
# Partie admin
# Réécriture admin/connect → admin/login.php
RewriteRule ^admin/connect$ admin/login.php [L]

# Réécriture admin/ajouter de module
RewriteRule ^admin/ajouter-module$ admin/ajouter_module.php [L]
